@import 'bulma/css/bulma.css';

body {
    padding: 20px;
}

#todos {
    margin-bottom: 20px;
}

#projects {
    margin-bottom: 20px;
}

#project-description {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    gap: 10px;
}